@import 'global';

.back-link {
    padding-left: 1%;
}

.back-link-text {
    display: inline-block;
}

.xyz {
    color: $purple-light;
}

.xyz-outer--inverted {
    color: white;
}

.xyz--inverted {
    color: white;
}

.resource-actions {
    margin-left: 1%;
}

.resource-actions-item {
    display: inline-block;
}

.resource-actions-spacer {
    display: inline-block;

    margin-left: 0.5%;
    margin-right: 0.5%;
}

.resource-list-item {
    height: 70px;
}

.resource-list-item--dense {
    height: 60px;
}
