@import 'global';
@import 'editor';

.back-link {
    padding-left: 1%;
}

.back-link-text {
    display: inline-block;
}

.xyz {
    color: $purple-light;
}

.xyz-outer--inverted {
    color: white;
}

.xyz--inverted {
    color: white;
}

.resource-actions {
    margin-left: 1%;
}

.resource-actions-item {
    display: inline-block;
}

.resource-actions-spacer {
    display: inline-block;

    margin-left: 0.5%;
    margin-right: 0.5%;
}

.resource-list-item {
    height: 70px;
}

.resource-list-item--dense {
    height: 60px;
}

.sign-in-box {
    min-width: 50%;
    min-height: 40%;

    padding: 2%;
    padding-top: 2%;
    padding-bottom: 2%;

    border: 1px solid lighten($grey-border, 20%);
    border-radius: 2px;

    -moz-box-shadow:    2px 2px 2px 0px lighten($grey-border, 30%);
    -webkit-box-shadow: 2px 2px 2px 0px lighten($grey-border, 30%);
    box-shadow:         2px 2px 2px 0px lighten($grey-border, 30%);

    @media (max-width: $mobile-width) {
        min-width: 90%;
    }
}

.sk-circle .sk-child:before {
    background-color: $purple-light;
}
