@import 'global';

.drawer-desktop {
    display: table-cell;

    padding-bottom: 1%;
}

// TODO: For some reason, if I want to change the font weight globally, it has to be changed before I screw with other font weights. This is a pretty good spot. Why would the position of this definition matter, you may ask. Good question.
.mdc-typography {
    font-weight: 300;
}

.mdc-list-item-text--activated {
    font-weight: 500;
}

.drawer-sub-item {
    height: 20px;
    width: 100%;
}

.drawer-sub-item-text {
    margin-left: 72px;
    padding-top: 7px;
    padding-bottom: 7px;

    font-weight: 200;
}

.drawer-sub-item-text--activated {
    font-weight: 500;
}

.toolbar-desktop {
    min-height: 59px;
    padding-bottom: 1px;

    color: $text-black;
    background-color: #FFFFFF;

    border: 0px solid;
    border-color: #E0E0E0;
    border-bottom-width: 1px;
}

.footer {
    background-color: white;
    height: 60px;
    z-index: 99;

    margin-top: -61px; // 1 extra pixel for top border

    border: 0px solid;
    border-top-width: 1px;
    border-color: #E0E0E0;

    text-align: center;
}

.footer-content {
    padding-top: 1%;
}
