$header-color: #F2F2F2;

table {
    width: 100%;

    border-collapse: collapse;
}

td, th {
    padding: 0.5%;
    padding-top: 1%;
    padding-bottom: 1%;

    border: 1px solid;
    border-color: #E0E0E0;
}

th {
    background-color: $header-color;
}

.selectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

tr.selectable {
    cursor: pointer;
}

tr:hover.selectable {
    background-color: #F9F9F9;
}

tr:active.selectable {
    background-color: #F4F4F4;
}

th.selectable {
    cursor: pointer;
}

th:active.selectable {
    background-color: darken($header-color, 5%);
}

.header-text {
    position: relative;

    margin-left: 15px;
    margin-right: 15px;

    display: inline-block;
}

.header-arrow {
    position: absolute;
    top: 0;
    right: -15px;
}
