@import 'global';

$mdc-theme-primary: $purple-primary;
$mdc-theme-secondary: $purple-primary;

.mdc-toolbar__title {
    font-weight: 300;
}

.mdc-text-field__input {
    font-weight: 300;
}

.mdc-floating-label {
    font-weight: 300;
}

.mdc-floating-label--float-above {
    color: $purple-light !important;
}

.mdc-button {
    font-weight: 300;
}

.mdc-list-item__text {
    font-weight: 300;
}

.mdc-list-item__secondary-text {
    font-weight: 300;
}

.mdc-select__native-control {
    font-weight: 300;
}

@import '@material/theme/mdc-theme';
