<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <%= csrf_meta_tags %>
        <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1' />
        <meta charset='utf-8' />

        <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>

        <script defer src='https://use.fontawesome.com/releases/v5.0.8/js/all.js'></script>
        <link href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet'>

        <link type='text/css' href='/material-components-web.min.css' rel='stylesheet' />
        <link type='text/css' href='/react-day-picker.css' rel='stylesheet' />
        <link type='text/css' href='/spinkit.css' rel='stylesheet' />
        <link type="text/css" href="/react-draft-wysiwyg.css" rel="stylesheet" />
        <%= stylesheet_link_tag    'application', media: 'all' %>

        <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
    </head>

    <body>
        <div id='root'></div>

        <%= yield %>

        <script src='/material-components-web.min.js'></script>
    </body>
</html>
